// Colors
$white: #fff;
$green: #136f63;
$cream: #edf4ed;
$brown: #51291e;
$blue: #1976d2;
$red: #ff0000;

//mixin
@mixin df {
  display: flex;
}

@mixin df-align-center {
  @include df;
  align-items: center;
}

@mixin flex-column {
  @include df;
  flex-direction: column;
}

@mixin flex-column-center {
  @include df-align-center;
  flex-direction: column;
}

@mixin flex-column-center-center {
  @include flex-column-center;
  justify-content: center;
}

@mixin textH1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

@mixin text16 {
  font-size: 16px;
  line-height: 24px;
}

@mixin text20 {
  font-size: 20px;
  line-height: 28px;
}

@mixin text36 {
  font-size: 36px;
  line-height: 42px;
}
