@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  overflow-x: auto;
}

a {
  text-decoration: none;
}

h1 {
  @include textH1;
  margin-bottom: 48px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  @include text20;
  text-transform: uppercase;
  color: $brown;
}

main {
  width: 100%;
  flex: 1 1 auto;
  padding: 0 25px;
  background: $cream;
}

#root {
  min-height: 100%;
  @include flex-column-center;
}
